<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main style="width: 30%; background-color: white; margin: auto;">
        <h1 style="text-align: center;">My Task</h1>
        <form action="" id="todoForm">
            Something: <input type="text" style="width: 80%;" id="create" name="Somethings" required>
        </form>
        <h3 style="text-align: center;">To Do</h3>
        <section style="width: 100%; text-align: center;">
            <div id="list"></div>
        </section>
    </main> 
    <script src="api.js"></script>
</body>
</html>